@using Newtonsoft.Json
@model EhcMetadata
@{
    string jsonResponse = JsonConvert.SerializeObject(ViewBag.Response, Formatting.Indented);
    EhcApplicationResponse ehcApplication = JsonConvert.DeserializeObject<EhcApplicationResponse>(jsonResponse);
}

<div class="container">
    <h1 class="govuk-heading-xl">Raising an Export Health Certificate</h1>
    
    <h4><span class="govuk-tag govuk-tag--green">POST</span><span class="govuk-tag govuk-tag--inactive">https://gateway.trade.defra.gov.uk/trade-sci-exports/uat/v1/ehc-application</span></h4>
    
    <p class="govuk-body">
        In this request we submitted the request body in a POST request to the ehc-application endpoint.
    </p>

    <h2 class="govuk-heading-l">Request body</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <textarea class="govuk-textarea code-view" rows="25" readonly>@ViewBag.Request</textarea>
        </div>
    </div>

    <h2 class="govuk-heading-l">Response body</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <textarea class="govuk-textarea code-view" rows="15" readonly>@jsonResponse</textarea>
        </div>
    </div>
    <br/>
    <a class="govuk-button" asp-controller="Demo" asp-action="MakeApplicationCheck" asp-route-application="@ehcApplication.RequestId">Check the status of this application</a>
    <a class="govuk-button govuk-button--secondary" asp-action="StartDemo">Start demo again</a>
</div>