@{
    ViewData["Title"] = "Home Page";
}

<h1 class="govuk-heading-l">Authentication</h1>

<img alt="map" src="image_2021_01_23T15_25_45_004Z.png" style="max-width: 100%;" />

<a class="govuk-button" asp-controller="Demo" asp-action="StartDemo">Start authentication demo</a>